body{
    margin: 0;
    height: 700px;
}
*{
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    font-family: "arial";
    color:white;
    text-decoration: none;
}
nav{
    
    font-size: 15px;
    width: 900px;
    margin: auto;
    font-weight: bold;
    margin-top: 0px;
    height: 105px;
    position: relative;
}

nav>ul{
    margin-top: 20px;
    margin-bottom: 0;  
}
.dropdown-content{
    display: block;
    position: absolute;
}
.dropdown:hover > .dropdown-content{
    display: block;
}
    
.dropdown-content{
    display: none;
}

.dropdown-content > a {
    display: block;
    background-color:#909090; 
    height: 28px;
    width: auto ;
    text-align: center;
    padding: 1px;
    font-size: 15px;
    border-top: rgb(160, 160, 160) solid 0.1px;
    margin: auto;   
}
.dropdown-content > a:first-child{
    margin-top: 20px;
    background-image: linear-gradient( #b3b3b3, #909090, #909090)
}
.dropdown-content > a:hover{
    background-color: rgb(168, 167, 167);
    text-decoration: underline;
    color: rgb(55, 55, 143);
}
a:hover {
    text-decoration: underline ;
    color: rgb(55, 55, 143);
}
      
ul{
    display: flex;
    flex-direction: row;
    float: left;
    padding: 0;
}

li{
list-style: none;
text-decoration: none;
}

nav>ul>.sep{
    margin:0 16px;
    font-weight: 200;
    color: grey;
}
.footer>ul>.sep{
    margin:0 8px;
}
.footer{
    font-size: 13.5px;
    width: 902px;
    margin: auto;
    padding: 0;
}
footer{
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0;
    background-color: #909090;
}

header{
    width: 100%;
    height: 105px;
    background-color: #909090;
    background-image: linear-gradient( #909090, #909090,#909090, #909090, #909090, #b3b3b3 );
}
#red{
    color: red;
}

#home{
    clip: rect(0px,6px,0px,0px);
}

.logo{
    float: right;
}

.toper{
   display: flex; 
   flex-direction: row;
   direction: ltr;
}
.toper> form>div {
    justify-content: flex-end;
    margin: 20px 10px 0 0;
    font-size: 12px;   
}
#search-box{
    color: black;
}
#eng{ 
    padding-left: 10px;
}

main{
    width: 900px;
    margin: auto;
}
.row {
    display: flex;
    width: 900px;
    margin-bottom: 20px;
}
  
.column {
    margin: auto;
    justify-content: space-between;
}
  
.content, .content>img {
    height: 355px;
    text-align: center;
    margin-bottom: 25px;
    margin: auto;
    width: 280px;
    height: 355px;
    border-radius: 0px 00px 40px 00px;
    position: relative;
    z-index: -1;
}
.row:last-child>div.column>.content{
    border: solid rgb(219, 218, 218) 3px;
}

.text-box{
    position: absolute;
    bottom: 8px;
    left: 20px;
    right: 10px;
    background-color: rgba(125,127,125,0.85);
    border-radius: 0px 00px 40px 00px;
    font-size: 13px;
    padding: 10px;
}
.text-box>h3,p{
    margin: 0;
}
.text-box>a{
    margin: 0;
    float: left;
}

#b{
    height: 215px;
    border-radius: 0px 40px 0px 0px;
    background-image:linear-gradient(white, #F0F0F0);
}
#b>h3{
    color: rgb(85, 84, 84);
    font-size: 14px;
    text-align: right;
    padding:  15px 20px 5px 0;
    width: 95% ;
    margin: auto;  
}

#b>img{
    width: 250px;
    height: 110px;
    border-radius:0;
    border: none;
    border-top: solid #e9e7e7 4px;
    padding-top:10px ;

}
#map>a{
    color: gray;
    font-size: 12px;
    float: left;
    margin: 18px;
    text-decoration: underline;
}

#map{
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
    position: relative;
    border-top: solid #e9e7e7 4px;  
}
#map>a{
    align-items: flex-start;
    margin: 0;
    color: gray;
    font-size: 12px;
    float: left;
    text-decoration: underline;
    margin: 3px;
}
#map>img{
    position: absolute;
    left:10px;
    bottom: ;: 0px;
}

#b>a{
    color: gray;
    float: left;
    margin-left: 13px;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 12px;
}
.empty{
    height: 40px ;
}

.container{
    display: flex;
    width: 900px;
    margin: auto;
    height: 500px;
    justify-content: space-between;
}
   
.container>div{
    height: 100%;
    
    
}
.container>#side-bar{
    width: 122px;    
}
.container>#left{
    width: 291px;  
}
.container>#right{
    width: 440px;
}
div.box{
    width: 110px;
    height: 36px;
    border-top: solid  #c7c7c6 0.2px;
    background-image: linear-gradient(#FEFEFE, #CCCCCC);
    display: flex;
}
div.box>a{
    color: black;
    text-align: center;
    margin: auto;
    margin-right: 0;
    font-size: 13px;
}
div#right>p,div#right>p>a {
    color: black;
    font-size: 12px;
}
#headline>h1{
    color:  #72716D;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    margin: 30px 0px 0px 0px;
}
#right>#headline{
    position: relative;
    height: 40px;
    border-bottom: solid #c7c7c6 0.2px; 
}
#headline+.graybox{
    width: 386px;
    height: 357px ;
    margin-right:0;
    margin-top: 10px;

}
.graybox{
    background-image: linear-gradient(#FEFEFE, #e2e2e2);
    border:solid #c7c7c6 0.2px;
    border-radius: 0 20px 0 0 ;
    border-bottom: 0;
    padding-right: 20px;
}
#left{
    height: 395px;
    padding-top: 35px;
}
#left>.graybox{
    width: 291px;
    height: 174px;
    margin-top: 20px;
}

.graybox>p{
    color:#6D6D6D;
    font-size: 13px;
}
.graybox>h3{
    color: #005CA0;
    margin-left: 20px;
    border-bottom: solid #EEEEEE 3px;
    font-size: 15px;
}
.bold{
    font-weight: bold;
}
.graybox>a{
    color: blue;
    font-size: 13px;
}
form>div>label{
    color:;
}

form > div, div> label {
    display: flex;
    width: 245px;
    margin-top: 0;
    margin-right: auto;   
    margin-left: auto;
    padding: 3px;
    font-size: 12px;
    color: #6D6D6D;
}
form>div.send>button{
    background-image: linear-gradient(#5FBAE1,#234299);
    font-size: 14px;
    float: left;
}
.send{
    float: left;
    width: 97px;
    margin-left: 10px;
}
textarea{
    color:#6D6D6D ;
}